.custom_copy108.tparrows {

}
.custom_copy108.tparrows:before {
    display: inline-block;
    font: normal normal normal 14px/1 ticons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom_copy108.tparrows.tp-leftarrow:before {
    content: '\e822';
}

.custom_copy108.tparrows.tp-rightarrow:before {
    content: '\e823';
}