/* VC Shortcode: Key Dates */
.ilc-key-dates {
    .ilc-heading-wrap {
        border-bottom: 2px solid #d6d6d6;
        padding-bottom: 15px;
        margin-bottom: 25px;

        .ilc-heading {
            font-size: 32px;
            line-height: 36px;
        }
    }
}

.ilc-key-dates-message_box {
}

.ilc-key-dates-message_box .ilc-key-dates-inner {
    position: relative;
    border: 2px solid #56b0ee;
    padding: 14px 15px 14px 84px;
}

.ilc-key-dates-mbicon {
    position: absolute;
    width: 56px;
    top: 0;
    bottom: 0;
    left: 0;
}

.ilc-key-dates-mbicon .ticon {
    color: #56b0ee;
    font-size: 24px;
    line-height: 1em;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ilc-key-dates-message_box .mb-key-date-title a {
    color: inherit;
    text-decoration: none;
}

.ilc-key-dates-bototm-content p:last-child {
    margin-bottom: 0;
}

.ilc-key-dates-list .ilc-key-date-date-col {
    width: 50%;
}

.ilc-key-dates-list .ilc-key-date-title-col {
    width: 50%;
}

.ilc-key-dates-table .ilc-key-date-expired td {
    color: #999;
}

.ilc-key-dates-table .ilc-key-date-expired td a {
    color: inherit;
}

.ilc-key-dates-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 0;
            position: relative;
            padding-left: 28px;
            padding-bottom: 25px;

            &::before, &::after {
                content: '';
                position: absolute;
                background: #9aaeac;
            }

            &::before {
                z-index: 1;
                top: 0;
                left: 5px;
                width: 3px;
                bottom: -3px;
            }

            &:first-child::before {
                top: 2px;
            }

            &:last-child::before {
                display: none;
            }

            &::after {
                width: 13px;
                height: 13px;
                overflow: hidden;
                border-radius: 50%;
                z-index: 2;
                left: 0;
                top: 2px;
            }

            &:last-child {
                padding-bottom: 0;
            }

            span.ilc-kd-date {
                color: $colorPrimary;
                display: block;
                margin-bottom: 8px;
            }
        }
    }

    .ilc-key-dates-bototm-content {
        padding-left: 28px;
    }
}

.ilc-key-dates-message_box .mb-key-date-title.ilc-key-date-expired {
    color: #999;
}

.ilc-key-dates-list ul li.ilc-key-date-expired {
    color: #999;
}

.ilc-key-dates-list ul li.ilc-key-date-expired a,
.ilc-key-dates-list ul li.ilc-key-date-expired span.ilc-kd-date {
    color: inherit;
}

.ilc-key-dates-bototm-content {
    margin-top: 38px;
    text-align: left;
    font-weight: 700;
}