// Colors

$colorPrimary: #63cef5;
$colorSecondary: #005796;
$colorBody: #8f8f8f;


$colorTitle: $colorSecondary;
$colorText: $colorBody;

$colorWhite: #fff;

$fontFamilyBody: "Helvetica Neue",Arial,sans-serif;
$fontFamilyTitle: $fontFamilyBody;